@{
    ViewBag.Title = "Administrator Authorized";
}
<h2>@ViewBag.Title</h2>
<h3>This page is authorized for any signed in administrator.</h3>
<ul>
    <li>Company Administrator</li>
    <li>Global Administrators</li>
    <li>Billing Administrators</li>
    <li>Service Administrators</li>
    <li>User Administrators</li>
    <li>Password Administrators</li>
    <li>Identity Administrators (AAD Group)</li>
</ul>

